<!DOCTYPE html>
<html>
    <title>
        attendance record
    </title>
    <body>
        <div id="container">
            <label for="register_number">STUDENT'S REGISTER NUMBER</label><br>
            <div id="register_number">
                {{register_number}}
            </div><br>
            <label for="name">STUDENT NAME</label><br>
            <div id="name">
                {{name}}
            </div><br>
            <label for="record">STUDENT'S STATUS</label><br>
            <div id="record">
            {{record}}
        </div><br>
        <label for="class">STUDYING</label><br>
        <div id="class">
             BSC computer science final year
        </div>
    </div>
    </body>
</html>